/*----------START-----------*/
.Title {
  position: relative;
  text-align: center;
}

.Title-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 88px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.Background img {
  width: 100%;
  filter: brightness(80%);
}
/*------------END------------*/

/*------------START---------------*/
.Container-page {
  display: grid;
  grid-template-columns: 15% 30% 5% 40% 10%;
  padding: 100px 0;
}

/*-----------------------------------*/
.Container-InF {
  width: 100%;
  grid-column: 2;
}

.Address {
  margin-bottom: 50px;
}
.Address h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(26, 26, 26);
  margin-bottom: 35px;
}
.A-content {
  font-size: 18px;
  font-weight: 400;
  color: #5d575e;
}

/*----------------------------------*/
.Container-Id {
  grid-column: 2;
}
.Id h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(26, 26, 26);
  margin-bottom: 10px;
}
.I-content {
  font-size: 18px;
  font-weight: 400;
  color: #5d575e;
}

/*--------------------------------*/
.Register {
  grid-column: 4;
}
.Input {
  margin-bottom: 40px;
}
.Input input {
  padding: 10px 75px 10px 15px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  background-color: rgb(241, 241, 241);
  color: #3e3d3d;
}
.Register .Input h5 {
  font-weight: 400;
}
#message {
  padding-bottom: 63px;
}

.Input input:focus {
  border: 1px solid #00bfa6;
  outline: none;
}
.Input__note textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  user-select: none;
  resize: none;
  padding: 10px;
}
.Input__note textarea:focus {
  border: 1px solid #00bfa6;
}
.input {
  position: relative;
}
.Input:last-child {
  margin-bottom: 0;
}
.input.success input {
  border-color: #2ecc71;
}
.Input.error input {
  border-color: #e74c3c;
}
.Input small {
  color: #e74c3c;
  position: absolute;
  bottom: -20px;
  left: 0;
  visibility: hidden;
  font-size: 12px;
}
.Input.error small {
  visibility: visible;
}

.Submit {
  padding: 10px 40px;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(76, 31, 87);
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  border: 2px solid rgb(76, 31, 89);
}

@media (max-width: 920px) {
  .Title-content {
    font-size: 40px;
  }

  .Container-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 70px 0;
  }
  .Register {
    grid-column: 1;
  }
  .Container-InF {
    grid-column: 1;
    text-align: center;
    padding: 0;
  }
  .I-content {
    padding-bottom: 60px;
  }
}

@media (max-width: 441px) {
  .Title-content {
    font-size: 35px;
  }
}
