#shopLanding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#shopLanding .sliderShop img {
    position: relative;
    z-index: -2;
    width: 100%;
    height:100%;
    filter: brightness(80%);
}

#shopProducts {
    padding:100px 7.5%;
}

#shopProducts .allProducts {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}

#shopProducts .allProducts .shopProductBox {
    position: relative;
    overflow: hidden;
    text-align: center;
    flex: 1 1 30rem;
}

#shopProducts .allProducts .shopProductBox img {
    width: 392px;
}
